@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Lato&family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&family=Space+Grotesk:wght@400;500;600;700&display=swap');

:root {
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);
  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --black-modal: hsl(0, 0%, 0%, 0.75);

  /* (with 75% opacity for lightbox background): hsl(0, 0%, 0%); */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  background-color: var(--white);
  position: relative;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;
  padding: 0 1.5rem;
  margin: auto;
}

.menu-container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 175px;
  justify-content: space-between;
}

.navbar,
.modal-navbar-bg {
  display: none;
}

.cart-avatar {
  display: flex;
  align-items: center;
  width: 70px;
  height: 100%;
  justify-content: space-between;
}

.cart-container {
  position: relative;
}

.cart-notification {
  display: none;
  background-color: var(--orange);
  border-radius: 16px;
  width: 15px;
  height: 12px;
  position: absolute;
  top: -2px;
  right: -5px;
  font-size: 0.6em;
  text-align: center;
  color: var(--white);
}

.hover:hover {
  cursor: pointer;
}

.avatar:hover {
  border: 1px solid var(--orange);
  border-radius: 50%;
}

/* modal navbar */

.modal-navbar-bg {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: var(--black-modal);
  z-index: 1;
}

.modal-navbar {
  background-color: var(--white);
  width: 60%;
  padding: 28px 24px;
}

.modal-navbar-items {
  display: flex;
  flex-direction: column;
  height: 38%;
  justify-content: space-between;
  margin-top: 50px;
}

.modal-navbar-link {
  color: var(--very-dark-blue);
  font-weight: 700;
  font-size: 1.2rem;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.image-container {
  width: 100%;
  max-width: 400px;
  position: relative;
  margin: auto;
}

.gallery-image {
  width: 100%;
  height: auto;
}

.gallery-previous {
  background-color: var(--white);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 12px;
  position: absolute;
  top: 50%;
  left: 10%;
}

.gallery-next {
  background-color: var(--white);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 12px;
  position: absolute;
  top: 50%;
  left: 85%;
}

.gallery-thumnails {
  display: none;
}

.details {
  padding: 24px;
}

.details-company {
  color: var(--orange);
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 12px;
}

.details-title {
  font-size: 1.7rem;
  margin-bottom: 16px;
}

.details-description {
  font-size: 0.94rem;
  color: var(--dark-grayish-blue);
  line-height: 24px;
  margin-bottom: 24px;
}

.details-prices {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  align-items: center;
}

.price-now {
  font-weight: 700;
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  gap: 18px;
}

.discount {
  background-color: var(--pale-orange);
  padding: 4px 5px;
  border-radius: 4px;
  color: var(--orange);
  font-size: 0.8rem;
}

.price-before {
  font-weight: 700;
  color: var(--dark-grayish-blue);
  text-decoration: line-through;
}

.input {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--light-grayish-blue);
  border-radius: 5px;
  margin-bottom: 18px;
}

.input-number {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  background: none;
  outline: none;
}

.details-button {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 5px;
  border: none;
  border-radius: 8px;
  background-color: var(--orange);
  color: var(--white);
  font-size: 0.9rem;
  font-weight: 700;
  margin-bottom: 24px;
}

.details-button:hover {
  opacity: 0.75;
}

.cart-modal,
.modal-gallery-bg {
  display: none;
}

.cart-modal {
  width: 360px;
  border-radius: 8px;
  box-shadow: 3px 3px 10px;
  position: absolute;
  top: 75px;
  right: 6px;
  background-color: var(--white);
  flex-direction: column;
}

.cart-modal-details {
  width: 100%;
  display: flex;
  flex-direction: column;
}

thead,
tbody {
  padding: 15px;
}

thead,
tbody,
tr {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

td,
th {
  padding: 5px;
}

tbody {
  flex-direction: column;
  height: 250px;
  overflow-y: scroll;
  border-top: 1px solid var(--grayish-blue);
  border-bottom: 1px solid var(--grayish-blue);
  margin-bottom: 10px;
}

th {
  font-size: 1.1rem;
}

.cart-description {
  width: 80px;
}

.cart-modal-button {
  width: 350px;
  align-self: center;
}

footer {
  width: 90%;
  margin: auto;
  padding: 2rem 1.5rem;
  display: flex;
  background-color: var(--white);
  border-top: 1px solid var(--grayish-blue);
}

.attribution {
  font-size: 0.7rem;
  text-align: justify;
}

.attribution a {
  color: var(--dark-grayish-blue);
}

@media screen and (min-width: 768px) {
  header {
    width: 90%;
    height: 120px;
    border-bottom: 1px solid var(--grayish-blue);
  }

  .menu-container {
    width: 250px;
  }

  .icon-menu {
    display: none;
  }

  .navbar {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .navbar-items {
    width: 100%;
    display: flex;
    gap: 15px;
    height: 100%;
  }

  .navbar-link {
    color: var(--dark-grayish-blue);
    font-size: 1.1rem;
    display: block;
    padding-top: 47px;
    height: 100%;
  }

  .navbar-link:hover {
    border-bottom: 4px solid var(--orange);
  }

  .cart-avatar {
    width: 120px;
  }

  .avatar {
    width: 40px;
    height: 40px;
  }

  main {
    width: 90%;
    margin: auto;
  }

  .content {
    flex-direction: row;
    padding: 90px 50px;
    gap: 90px;
  }

  article {
    display: flex;
    flex-direction: column;
  }

  .gallery {
    width: 40%;
    height: auto;
  }

  .image-container {
    width: 100%;
    max-width: 500px;
    display: flex;
    margin: 0;
  }

  .gallery-image {
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
    margin-bottom: 32px;
  }

  .gallery-next,
  .gallery-previous {
    display: none;
  }

  .gallery-thumnails {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .thumnail,
  .modal-thumnail {
    border-radius: 16px;
    width: 20%;
  }

  .thumnail:hover,
  .modal-thumnail:hover {
    border: 2px solid var(--orange);
    opacity: 0.75;
  }

  .details {
    padding-top: 50px;
    width: 50%;
  }

  .details-title {
    font-size: 2.3rem;
    margin-bottom: 40px;
    margin-top: 10px;
  }

  .details-description {
    font-size: 1.1rem;
    margin-bottom: 30px;
  }

  .details-prices {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    align-items: flex-start;
    gap: 10px;
  }

  .details-quantity {
    display: flex;
    gap: 20px;
  }

  .modal-gallery-bg {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--black-modal);
    z-index: 1;
  }

  .modal-gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 100%;
  }

  .modal-gallery-close {
    margin-left: 460px;
  }

  .modal-gallery-close:hover {
    background-color: var(--orange);
  }

  .modal-image-container {
    position: relative;
  }

  .modal-gallery-image {
    width: 100%;
    height: 447px;
    border-radius: 16px;
  }

  .modal-gallery-previous {
    background-color: var(--white);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 12px;
    position: absolute;
    top: 50%;
    left: -5%;
  }

  .modal-gallery-next {
    background-color: var(--white);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 12px;
    position: absolute;
    top: 50%;
    left: 96%;
  }

  .modal-gallery-thumnails {
    display: flex;
    justify-content: space-between;
  }
}
